*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', 'Shadows into light';
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
 
@font-face {
    font-family: 'metropolis1920regular';
    src: url('metropolis1920-regular-webfont.woff2') format('woff2'),
         url('metropolis1920-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
font-family: 'Chakra Petch', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Satisfy', cursive;
font-family: 'Shadows Into Light';
font-family: 'Bruno Ace SC';



.theme {
    font-family: 'Bruno Ace SC';
}


.font {
    font-weight: bold;
    font-size: 500px;
}

:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #00abe4;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color)
}

.h1 {
    font-family: 'Righteous';

}

.h2 {
        font-family: 'Roboto Mono';

}

.h3 {
    font-family: 'Chakra Petch';
}

.h4 {
    font-family: Satisfy;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span {
    color: var(--main-color );
}

.navlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}


.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--second-bg-color);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.slide {
    margin-bottom: 20px;
}

.one {
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
    position: relative;
    animation: heading;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

@keyframes heading {
    0% {top: -1000px}

    100% {top: 0}
}

.intro {
    position: relative;
    animation: intro;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes intro {
    0% {left: -1000px}

    100% {left: 0}
}

.two {
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
    position: relative;
    animation: heading1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading1 {
    0% {top: -1000px}

    100% {top: 0px}
}



.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    list-style: 1.1;
    margin: 0 0 8px;
}

.home-text h3 {
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

@keyframes button {
    0% {opacity: 0}
    100% {opacity: 1}
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid white;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
    animation-name: button;
    animation-duration: 12s;
    animation-fill-mode: backwards;
}

.btn:hover {
    transform: scale(0.9);
    background-color: #00abe4;
    color: white;
}

.btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 35px;
    animation-name: button;
    animation-duration: 12s;
    animation-fill-mode: backwards;
}

.btn2 span i {
    height: 5px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}

.btn2 span i:hover {
    transform: scale(1.1) translate(5px)
}

header.sticky {
    background: var(--bg-color);
    border-bottom: 1.2px solid #ffffff1a;
    padding: 12px 15%;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.underline {
    border-bottom: 4px solid #00abe4;
    display: inline-block;
}

.about-img img {
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
   color: var(--second-color);
   font-size: var(--p-font);
   line-height: 1.8;
   margin-bottom: 4rem;
}

.services {
    background: var(--second-bg-color);
}

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 22px;
    margin-bottom: 15px;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1.1;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    /* margin-top: 5rem; */
}

.box {
    display:flex;
    flex-direction:column;
    box-sizing: content-box;
    margin:auto 20% ;
}

.box-title {
    border-radius: 10px 10px 0 0 ;
    border: 1px solid gray;
    text-align: center;
    padding-top: 25px;
    margin-top: 15px;
    padding-bottom: 25px;
}

.box-content {
    background: var(--bg-color);
    padding: 50px 25px 20px 3.5rem;
    margin-right: 0;
    border-radius: 0 0 15px 15px;
    transition: all .45s ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 0;
    text-align: center;
    justify-items: f;
    align-content: center;
}

.s-icons i {
    font-size: 32px;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.h3-title {
    border-radius: 10% 0;
}

.read {
    display: inline-block;
    padding: 8px 18px;
    background: #333333;
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
}

.read:hover {
    letter-spacing: 1px;
    background: #ffffff99;
    color: var(--text-color);
}

.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.portfolio-content {
    /* display: grid;
    /* grid-template-rows:  */
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    max-height: 600px;
    object-fit:cover;
    width: 600px;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #00abe4);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
}

.layer .demo > a {
    color: var(--main-color);
    margin-top: 20px;
    margin-right: 10px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.contact {
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4 {
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
    text-align: center;
}

.contact-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 15px;
}

.list {
    margin-bottom: 2.8rem;
}

.list li {
    margin-bottom: 12px;
}

.list li a {
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}

.list li a:hover {
    color:  var(--text-color);
    transform: translateX(5px);
}

.contact-icons a {
    height: 50px;
    width: 50px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 15px 40px ;
    transition: all .45s ease;
}

.contact-icons a:hover {
    background: var(--text-color);
    color: var(--main-color);
}

.contact-form form {
    position: relative;
}


.contact-form form input, form textarea {
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-form textarea {
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
}

.last-text p {
    color: var(--second-color);
    font-size: 14px;
}

.top a {
    padding: 12px;
    border-radius: 10px;
    font-size: 14px;
    /* width: 45px; */
    /* height: 100px; */
    color: var(--text-color);
    background: var(--main-color);
    /* height: 30px; */
    /* width: 100px; */
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky {
        padding: 10px 2.5%;
        transition: .1s;
    }
    section {
        padding: 110px 3% 60px ;
    }
    .end {
        padding: 15px 3%;
    }
}

@media (max-width: 1100px) {
    :root{
        --big-font: 5rem;
        --h2-font: 3rem;
        --p-font: 1.1rem;
        transition: .1s;
    }
    .home-text h3 {
        font-size: 2.5rem;
    }
    .home {
        height: 87vh;
    }
}

@media (max-width: 920px) {
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }

    .about-img img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 840px) {
    #menu-icon {
        display: flex;
        flex-direction: column;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .navlist {
        position: absolute;
        top: -10000%;
        right: 0;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
        height: 100vh;
    }
    .navlist a {
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a:hover {
        color: var(--main-color);
    }
    .navlist a:active {
        color: var(--text-color);
    }
    .navlist.open {
        top: 100%;
        }
}

@media (max-width: 540px){
    .list {
            display: grid;
            grid-template-columns: 1fr;
        }
}

@media (max-width: 420px) {
    .list {
        display: grid;
        grid-template-columns: 1fr;
    }
        .contact-icons a {
            height: 40px;
            width: 40px;
            background: var(--main-color);
            color: var(--text-color);
            font-size: 22px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 15px 40px;
            transition: all .45s ease;
        }
}

@media (max-width: 280px) {
    .contact-box {
            background: var(--bg-color);
            width: 100px;
            height: 100px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .box-content {
            background: var(--bg-color);
            padding: 20px;
            margin-right: 0;
            border-radius: 0 0 15px 15px;
            transition: all .45s ease;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

   .home-text h1 {
        font-size: 4rem;
        font-weight: 600;
        color: var(--text-color);
        list-style: 1.1;
        margin: 0 0 8px;
   }

        .contact-icons a {
            height: 35px;
            width: 35px;
            background: var(--main-color);
            color: var(--text-color);
            font-size: 18px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 12px 40px;
            transition: all .45s ease;
        }

        .top {
            display: none;
            /* justify-content: center; */
            /* align-items: center; */
            font-size: 10px;
        }
}

.menu-btn {
    position: relative;
    /* display: flex; */
    /* justify-self: flex-start; */
    /* line-height: 1.5; */
    /* justify-content: center;
    align-items: center; */
    /* align-self: center; */
    /* justify-content: center; */
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 0px solid transparent;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: 20px;
    margin-right: 12px;
}

.menu-btn__burger {
    width: 38px;
    height: 3.5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 38px;
    height: 3.5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translate(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


.box.s-icons {
    margin-right: 10px;
}

.contact-box {
    background: var(--bg-color);
    width: 200px;
    height: 150px;
    border-radius: 25px;
    display: none;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-box p {
    font-size: 10px;
}

.contact-box a {
    font-size: 10px;
}
.contact-box i {
    width: 10px;
    height: 10px;
}

/* carousel start */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* carousel end */

.fa-sass {
    color: tomato;
    margin-right: 5px;
}

.fa-square-js {
    color: yellow;
    margin-right: 5px;
}

.fa-html5 {
    color: #ff4d05;
    margin-right: 5px;
}

.fa-css3 {
    color: blue;
    margin-right: 5px;
}

.fa-react {
    color: skyblue;
    margin: 5px;
}

.fa-bootstrap {
    color: blueviolet;
    margin: 5px;
}

.fa-github {
    /* color: white; */
    margin: 5px;
}

.fa-envelope {
    margin: 8px;
    width: 30px;
    height: 30px;
}

.fa-whatsapp {
    margin: 8px;
    width: 30px;
    height: 30px;
    color: green;
}
